
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --c-grey-dark: rgba(75, 75, 75, 1);
    --c-grey-dark-alpha: rgba(75, 75, 75, 0);
    --c-white: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    padding: 5px 0 8px 0;
    font-family: 'Roboto', sans-serif;
}

.grey-bar {
    width: 100%;
    height: 56px;
    background-color: var(--c-grey-dark);
    position: fixed;
    z-index: 8;
    
}

.main-menu {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.main-burger {
    margin-right: auto;
    width: 50px;
    height: 50px;
    position: relative;

}

/* checkbox styling */
.label-style {
    width: 46px;
    height: 46px;
    left: 0;    
    top: 0;
    margin-left: 10px;
    cursor: pointer;
    position: absolute;
    z-index: 15;
    transition: all 0.4s ease;
}


.burger-box {
    width: 100%;
    height: 100%;
    left: 0;    
    top: 0;
    margin-left: 10px;
    display: block;
    position: absolute;
    transition: all 0.4s ease;
}

 #burger-check {
    display: none;
 }

/* nav bar lines */
.bar {
    top: 46%;
    left: 10%;
    width: 35px;
    height: 3px;
    border-radius: 20%;
    background: var(--c-white);
    position: relative;
}

.bar:before, .bar:after {
    content: '';
    top: -10px;
    width: 35px;
    height: 3px;
    border-radius: 20%;
    background: inherit; /*inherit value from parent*/
    position: absolute;
    transition: all 0.4s ease;
}

.bar:after {
    top: 10px;
}

/* turn bars into a cross */
input:checked ~ .label-style > .burger-box > .bar:before,
input:checked ~ .label-style > .burger-box > .bar:after {
    top: 0;
    transform: rotate(90deg);
}  

/* spin the cross */
input:checked ~ .label-style > .burger-box {
    transform: rotate(225deg);
}


/* drop down menu */
.nav-menu {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    padding: 58px 120px 20px 120px;
    transform: translate(0, -120%);
    transition: transform 0.4s ease;
    z-index: 2;
} 

input:checked ~ .nav-menu {
    transform: translate(0, 0);
    animation: fadein;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

input:not(checked) ~ .nav-menu {
    animation: fadeout;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.nav-menu-items {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 125px;
}


.item {
    text-decoration: none;
    color: var(--c-white);
    font-size: 18px;
    position: relative;
}


/* menu fade */
@keyframes fadein {
    from {background: var(--c-grey-dark-alpha);}
    to {background: var(--c-grey-dark);}
}

@keyframes fadeout {
    from {background: var(--c-grey-dark);}
    to {background: var(--c-grey-dark-alpha);}
}


/* nav menu links line transition */
.item::after {
    bottom: -4px;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: var(--c-white);
    border-radius: 2px;
    transition: all 0.3s ease;
    width: 0;
    left: 0;
}

.item:hover::after {
    width: 100%;
}


.nav-icons {
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    z-index: 10;
}

.icon {
    font-size: 26px;
    font-weight: lighter;
    padding-left: 40px;
    color: var(--c-white);
    z-index: 10;

}


/* vertical nav */

@media screen and (max-width: 850px) {

    .grey-bar {
        height: 100%;
        width: 56px;
    }

    
    header {
        padding: 0;
        min-width: 300px;
        width: 40%;
    }

    .main-menu {
        width: auto;
        height: 100%;
    }
    

    .burger-box, .label-style {
        margin-left: 3px;

    }
    .nav-icons {
        display: block;
        position: absolute;
        width: 56px;
        height: 100px;
        bottom: 10px;
        left: 0;
    }

    .icon {
        padding-left: 12px;
    }
    
    .icon:nth-child(2) {
        padding-top: 35px;
    }


    .nav-menu {
        height: 100vh;
        transform: translate(-120%, 0);
    } 

}